
.site-footer {
  background-color:grey;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  padding: 20px 0;
}
.container-fluid {
  color:white;
  text-align: center;
}

.navbar-dark {
  background-color:black;
}

i{
  padding: 1em;
 
 
}

